<h1>Update account</h1>

<% form_for([:member, @user]) do |f| %>
	<%= render :partial => 'form', :locals => {:f => f, :button_label => "Update"} %>
<% end %>

<%= link_to 'Show', @user %> |
<%= link_to 'Back', member_users_path %>