<p>
  <b>Username:</b>
  <%=h @user.username %>
</p>

<p>
  <b>Email:</b>
  <%=h @user.email %>
</p>

<%= link_to 'Update account', edit_member_user_path(@user) %> |
<%= link_to 'Back', member_users_path %>