body {
	margin: 0em 2em 0 2em;
	font-family: helvetica, arial, sans-serif;
	background-color: #aaaaaa;
}

div#heading {
	display: block;
	margin: 0 0 0 0;
	padding: .1em 0 1em 0;
	letter-spacing: -.08em;
	background-color: #cccccc;
}

div#navigation {
	display: block;
	padding: 1em 0 1em 0;
	background-color: #000000;
}

div#navigation > a {
	color: #ffffff;
	text-decoration: none;
}

div#navigation > a:hover {
	color: #F27405;
	text-decoration: none;
}

div#content {
	padding: 1em 0 1em 0;
	background-color: #fcfcfc;
}

div#progress {
	float: right;
	width: 150px;
	padding-top: 2em;
}

p#footer {
	clear: both;
	display: block;
	padding: 1em 0 1em 0;
	background-color: #f0f0f0;
}