body {
	margin: 0em 2em 0 2em;
	font-family: helvetica, arial, sans-serif;
	background-color: #aaaaaa;	
}

#container {
	width: 960px;
	margin: auto;
	border: 1px solid black;
	background-color: #fcfcfc;	
}

#heading {
	padding: 10px;
	background-color: #cccccc;
}

#heading h1 {
	margin: 0;
	letter-spacing: -.05em;
}

#heading p {
	margin: 0;
	font-size: .8em;
	color: #666666;
}

#menubar {
	margin: 0 0 0 0;
	padding: 10px;
	background-color: #000000;
}

#menubar ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

#menubar ul li {
	display: inline;
}

#menubar ul li a {
	color: #ffffff;
	text-decoration: none;
	margin: 0 2em 0 0;
}

#menubar ul li a:hover {
	color: #f27405;
	text-decoration: none;
}

#sidepanel {
	float: right;
	margin: 1em 1em 1em 0em;
	padding: 0em 1em 1em 1em;
	background-color: #f0f0ff;
}

#main {
	padding: 0 1em 0 1em;
}

#main form label, #main form #spacer {
	float: left;
	width: 13em;
}

#clear {
	clear: both;
}

#footer {
	clear: both;
	background-color: #f0f0f0;
	text-align: center;
	font-size: .8em;
	margin: 0;
	padding: 10px;
}
