body {
	margin: 0em 2em 0 2em;
	font-family: helvetica, arial, sans-serif;
	background-color: #aaaaaa;
}

div#heading {
	display: block;
	margin: 0 0 0 0;
	padding: .1em 0 1em 0;
	letter-spacing: -.08em;
	background-color: #cccccc;
}

div#navigation {
	margin: 0 0 0 0;
	display: block;
	padding: 1em 0 1em 0;
	background-color: #000000;
}

div#navigation > a {
	color: #ffffff;
	text-decoration: none;
	margin: 0 1em 0 1em;
}

div#navigation > a:hover {
	color: #f27405;
	text-decoration: none;
}

div#content {
	margin: 0 0 0 0;
	padding: 1em 0 1em 0;
	background-color: #fcfcfc;
}

label, div#spacer {
	float: left;
	width: 13em;
}

div#progress {
	float: right;
	margin: 0em 1em 1em 0em;
	padding: 0em 1em 1em 1em;
	background-color: #f0f0ff;
}

div#clear {
	clear: both;
}

p#footer {
	clear: both;
	display: block;
	margin: 0 0 0 0;
	padding: 1em 0 1em 0;
	background-color: #f0f0f0;
}




